@function translate-media-condition($c) {
    $condMap: (
        "portrait": "(orientation: portrait)",
        "landscape": "(orientation: landscape)"
    );
    @return map-get( $condMap, $c );
}

// The mdia mixin
@mixin media($args...) {
    $query: "screen";

    @each $arg in $args {
        $query: $query + " and " + translate-media-condition( $arg );
    }

    @media #{$query} {
        @content;
    }
}
