@import url('https://fonts.googleapis.com/css?family=Bangers');

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

.dl-horizontal dt 
{
    white-space: normal;
}

a.navbar-brand {
    font-family: 'Bangers'
}

.bangers {
    font-family: 'Bangers'
}