@import url('https://fonts.googleapis.com/css?family=Fira+Sans:700,700i|Lato:400,400i');

.slide {

    font-family: 'Lato', sans-serif;
    font-size: 32px;
    background-color: #1e537b;
    color: white;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 700;
        color: white;
    }

    main {
        height: 100%;
        width: 100%;
    }

    article {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    article.title-slide {
        justify-content: center; /* Vertical center */
        align-items: center; /* Horizontal center */
    }

    article.title-and-content {
        justify-content: flex-start;
        align-items: center;
    }

    .title-slide h1 {
        font-size: 3em;
        margin: 0.2em 0;
    }

    .title-slide h2 {
        font-size: 2em;
        margin: 0.2em 0;
    }

    .title-slide h3 {
        font-size: 1em;
    }

    .title-and-content h1 {
        font-size: 2em;
        margin: 0.5em 0;
    }

    .title-and-content h2 {
        font-size: 1.5em;
        margin: 0.2em 0;
    }
}

