@model ShtikLive.Models.Live.ShowSlideViewModel

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Slide.Title | @Model.Title</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootswatch/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/theme.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
<div class="slide">
      @Html.Raw(Model.Slide.Html)
</div>
    <nav class="navbar navbar-default navbar-fixed-bottom"></nav>
</body>
</html>